@charset "UTF-8";
.vscode-body :is(section, aside, div)[class|="sc"] {
  margin: 1.5em 0.25em;
  padding: 1em;
  border: 1px solid currentcolor;
}
.vscode-body :is(section, aside, div)[class|="sc"] p, li, dt, dd {
  font-size: 0.95em;
}
.vscode-body :is(section, aside, div)[class|="sc"] > *:first-child {
  margin-block-start: 0;
}
.vscode-body :is(section, aside, div)[class|="sc"] > *:last-child {
  margin-block-end: 0;
}
.vscode-body :is(section, aside, div)[class|="sc"] > *:nth-last-child(2):has(+ div:empty) { /* for vsc markdown preview */
  margin-block-end: 0;
}

.vscode-body :is(section, aside, div)[class|="sc"] > p:first-child {
  text-indent: 0;
}
.vscode-body :is(section, aside, div)[class|="sc"] > p:first-child > span:first-child[class$="label"] {
  display: inline-block;
  text-decoration: underline solid currentcolor;
  text-underline-offset: 0.25em;
  margin-inline-end: 0.25em;
  font-weight: bold;
}
.vscode-body :is(section, aside, div)[class|="sc"] > p:first-child > span:first-child[class$="label"] > span[class$="joint"] {
  display: inline-block; /* for test-decoration:none */
  text-decoration: none;
}
.vscode-body :is(section, aside)[class|="sc"] > :is(h2, h3, h4, h5, h6):first-child {
  font-size: 0.95em;
  font-weight: bold;
  border-block-end: 1px solid currentcolor;
  padding-block-end: 1em;
  margin: 0.25em 0 1em;
}
.vscode-body :is(section, aside)[class|="sc"] > :is(h2:first-child ~ h3, h3:first-child ~ h4, h4:first-child ~ h5, h5:first-child ~ h6) {
  font-size: 0.95em;
  margin: 0.85em 0;
}
.vscode-body :is(section, aside)[class|="sc"] > :is(h2:first-child ~ h3, h3:first-child ~ h4, h4:first-child ~ h5, h5:first-child ~ h6)::before {
  display: inline-block;
  position: relative; /* for vsce markdown preview */
  left: 0;
  top: 0;
  content: "\25A8";
  margin: 0 0.5em 0 0;
  transform: scale(1.25);
}
.vscode-body :is(section, aside)[class|="sc"] > :is(h2:first-child ~ h3 ~ h4, h3:first-child ~ h4 ~ h5, h4:first-child ~ h5 ~ h6) {
  font-size: 0.95em;
  margin: 0.85em 0;
}
.vscode-body :is(section, aside)[class|="sc"] > :is(h2:first-child ~ h3 ~ h4, h3:first-child ~ h4 ~ h5, h4:first-child ~ h5 ~ h6)::before {
  display: inline-block;
  position: relative; /* for vsce markdown preview */
  left: 0;
  top: 0;
  content: "\25B8";
  margin: 0 0.4em 0 0;
  transform: scale(1.5);
}
.vscode-body section.sc-lead {
  margin: 1.25em 0 1.25em 1em;
  padding: 0 0 0 0.75em;
  border-style: none;
  border-inline-start: 0.25em solid currentcolor;
} 
.vscode-body section.sc-lead p {
  font-weight: bold;
}
